@{
    ViewData["Title"] = "Coming Soon";
}

<div class="coming-soon fade-in">
    <i class="bi bi-hourglass-split"></i>
    <h1>Coming Soon</h1>
    <p>This feature is currently under development. We're working hard to bring it to you soon!</p>
    <a href="javascript:history.back()" class="btn btn-primary">
        <i class="bi bi-arrow-left"></i>
        Go Back
    </a>
</div> 