@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "reset password";
}

<h1 class="text-success">@ViewData["Title"]</h1>
<p>
    reset password successfully <a asp-page="./Login">click here to login</a>.
</p>
